{{#each favorites as |favorite|}}
  {{log favorite}}
  <section data-id="{{favorite.id}}">
    <h3>
      {{favorite.location.name}}
    </h3>
    <h6>{{favorite.location.cuisine}}</h6>
    <p>
      {{#if favorite.notes}}
        {{favorite.notes}}
      {{/if}}
    </p>
  </section>

{{/each}}
