{{#each favorites as |favorite|}}
  <section data-id="{{favorite.id}}">
    <p>
      <h4> {{favorite.location.name}} </h4>
      {{favorite.location.cuisine}} - {{favorite.location.area}}
      <h6> Comments: {{#if favorite.notes}}
          {{favorite.notes}} </h6>
      {{/if}}
    </p>

    <div> {{> update id=favorite.id}} {{> remove id=favorite.id}} </div>
  </section>

{{/each}}
